mixin template({id, banner, title, content, images, next})
    .work
        //- about bg
        .about-bg.page-bg
            canvas.webgl-canvas
            img.bg-pic(data-src="/shared/bg.webp", alt="Image")
        .work-wrapper
            .work-banner
                figure.work-banner-figure
                    img.work-banner-figure-img(data-src=`/shared/works/${id}/${banner}.jpg` alt=`${title}'s banner picture`)
            .work-content
                .container
                    .work-title-wrapper
                        h1.work-title.infinite-title.title-fix=title
                    .work-content-box
                        p.paragraph(data-animation="text")= content.info
                        ul.work-info-list
                            if(content.client)
                                li.work-info-list-item
                                    p.paragraph.bold Client
                                    p.paragraph.content-info-text(data-animation="text") ✹ #{content.client}
                            if(content.date)
                                li.work-info-list-item
                                    p.paragraph.bold Date
                                    p.paragraph.content-info-text(data-animation="text") ✹ #{content.date}
                            if(content.role)
                                li.work-info-list-item
                                    p.paragraph.bold Role
                                    each item in content.role
                                        p.paragraph.content-info-text(data-animation="text") ✹ #{item}
                            if(content.tools)
                                li.work-info-list-item
                                    p.paragraph.bold Tools
                                    each item in content.tools
                                        p.paragraph.content-info-text(data-animation="text") ✹ #{item}
                            if(content.link)
                                li.work-info-list-item
                                    p.paragraph.bold Live Demo
                                    p.paragraph #[a.link.active(href=`${content.link}` target="_blank")=content.link]
            .work-gallery
                .container
                    each item, index in images
                        figure.work-gallery-figure
                            img.work-gallery-figure-img.webgl-image(data-src=`/shared/works/${id}/${item}.jpg` data-index=`${index}` alt=`${title}'s gallery picture ${index + 1}`)
            .work-next
                figure.next-figure
                    img.next-picture(data-src=`/shared/works/${next.id}/banner.jpg` alt="Next work banner")
                a.next-link.medium-title-fix.transition-link(href=`/works/${next.id}`)= next.title
