mixin template({
    id,
    banner,
    title,
    content,
    images,
})
    .work
        .work-wrapper
            .work-banner
                figure.work-banner-figure
                    img.work-banner-figure-img(data-src=`/shared/works/${id}/${banner}.jpg` alt=`${title}'s banner picture`)
            .work-content
                .work-title-wrapper
                    h1.work-title.infinite-title.title=title
                .container
                    .work-content-box
                        p.paragraph= content.info
                        ul.work-info-list
                            if(content.client)
                                li.work-info-list-item
                                    p.paragraph.bold Client
                                    p.paragraph= content.client
                            if(content.date)
                                li.work-info-list-item
                                    p.paragraph.bold Date
                                    p.paragraph= content.date
                            if(content.role)
                                li.work-info-list-item
                                    p.paragraph.bold Role
                                    p.paragraph= content.role
                            if(content.tools)
                                li.work-info-list-item
                                    p.paragraph.bold Tools
                                    p.paragraph= content.tools
                            if(content.link)
                                li.work-info-list-item
                                    p.paragraph.bold Live Demo
                                    p.paragraph #[a.link(href=`${content.link}` target="_blank") Live Demo]
            .work-gallery
                .container
                    each item, index in images
                        figure.work-gallery-figure
                            img.work-gallery-figure-img(data-src=`/shared/works/${id}/${item}.jpg` data-index=`${index}` alt=`${title}'s gallery picture ${index + 1}`)
